<div class="page-layout blank p-24" fusePerfectScrollbar>

    <h2>Dashboard Content will come soon!</h2>

    <div class="fuse-card indigo">

        <div class="p-16">
            <div class="h1"> Safari</div>
            <div class="h4 secondary-text">Free on Thursdays</div>
        </div>
    
        <div class="p-16 pt-0 line-height-1.75">
            All cards can be mixed with Fuse Color Classes to have different colors. This
            greatly increases the unique variations of all cards. Cards provide context and an
            entry point to more robust information and views, and their content and quantity can
            vary greatly.
        </div>
    
        <div class="p-8 pt-0" fxLayout="row" fxLayoutAlign="start center">
           
        </div>
    
    </div>

   
</div>
