<mat-toolbar>

    <div fxLayout="row" fxLayoutAlign="center center" fxFlex>

        <a mat-button class="blue" fxFlex="0 0 auto" fxLayout="row"
           fxLayoutAlign="start center">
            <!-- <mat-icon class="s-16 mr-sm-4">add</mat-icon> -->
            <span>&copy; Rumango Ltd</span>
        </a>

        <!-- <div fxLayout="row" fxLayoutAlign="start center" fxHide fxShow.gt-xs>
            <a mat-button routerLink="">Documentation</a>
            <span>&bull;</span>
            <a mat-button routerLink="">Changelog</a>
        </div> -->

    </div>

</mat-toolbar>
