<div class="navbar-top" [ngClass]="ktConfig.layout.navbar.secondaryBackground">

    <div class="logo">
        <img class="" src="assets/images/logos/logo.png">
    </div>

    <div class="buttons">

        <button mat-icon-button class="toggle-sidebar-folded"
                (click)="toggleSidebarFolded()" fxHide.lt-lg>
            <mat-icon class="secondary-text">menu</mat-icon>
        </button>

        <button mat-icon-button class="toggle-sidebar-opened"
                (click)="toggleSidebarOpened()" fxHide.gt-md>
            <mat-icon class="secondary-text">arrow_back</mat-icon>
        </button>

    </div>

</div>


<div class="navbar-scroll-container" [ngClass]="ktConfig.layout.navbar.primaryBackground"
     fusePerfectScrollbar [fusePerfectScrollbarOptions]="{suppressScrollX: true}">

    <div class="user" fxLayout="column" [ngClass]="ktConfig.layout.navbar.secondaryBackground">

        <div class="h3 username">Sakthivel M</div>
        <div class="h5 email hint-text mt-8">sakthivel.m@rumango.com</div>
        <div class="avatar-container" [ngClass]="ktConfig.layout.navbar.primaryBackground">
            <img class="avatar" src="assets/images/avatars/user.jpg">
        </div>

    </div>

    <div class="navbar-content">
        <fuse-navigation class="material2" layout="vertical"></fuse-navigation>
    </div>

</div>
